POSTGRES_DB=life_infra_map
POSTGRES_USER=life_infra_map
POSTGRES_PASSWORD=replace-with-a-long-random-password
POSTGRES_PORT=5432

# 127.0.0.1: 같은 서버의 API만 접속 가능
# 100.x.y.z: 해당 서버의 Tailscale IP로만 접속 가능
POSTGRES_BIND_IP=127.0.0.1
