EXPO_PUBLIC_DJANGO_API_BASE_URL=https://life-infra-map-db.taile29cc8.ts.net/django/api
EXPO_PUBLIC_SPRING_API_BASE_URL=https://life-infra-map-db.taile29cc8.ts.net/spring/api
EXPO_PUBLIC_KAKAO_MAP_EMBED_URL=https://life-infra-map-db.taile29cc8.ts.net/kakao-map-embed.html
