[Unit]
Description=Email Life Infra Map collection report daily

[Timer]
OnCalendar=*-*-* 05:40:00 Asia/Seoul
RandomizedDelaySec=2m
Persistent=true
Unit=life-infra-map-daily-report.service

[Install]
WantedBy=timers.target
